<div class="<%= centered_classes %>">
  <%= image_tag "logo.png", alt: "QuizBiscuit Logo", class: "mx-auto max-h-84 md:max-h-96" %>
  <h1 class="<%= h1_classes %>">Welcome to Quiz&nbsp;Biscuit</h1>
  <div class="<%= button_row_classes %>">
    <%= link_to "Create Quiz", new_quiz_path, class: button_classes(colour: :blue) %>
    <%= link_to "Join Quiz", join_quiz_path, class: button_classes(colour: :green) %>
  </div>
</div>
