<%= form_for :quiz, url: quizzes_path do |form| %>
  <h1 class="<%= h1_classes %>">Create a New Quiz</h1>
  <div class="<%= field_classes %>">
    <%= form.label :name, "Enter the name of your quiz:", class: label_classes %>
    <%= form.text_field :name, class: input_classes %>
  </div>
  <div>
    <%= form.submit "Create Quiz", class: button_classes %>
  </div>
<% end %>
