<% if @is_host %>
  <h1>Join at <%= quiz_url(@quiz) %></h1>

  <%= turbo_stream_from "quizzes_#{@quiz.code}" %>
  <h2>Players Joined:</h2>
  <ul id="players">
    <% @quiz.players.each do |player| %>
      <li><%= player.name %></li>
    <% end %>
  </ul>

  <%= button_to 'Start Quiz', start_quiz_path(@quiz), method: :post %>
<% elsif @quiz.joinable? %>
  <%= form_with url: join_quiz_path(@quiz), method: :post, data: { turbo: false } do |form| %>
    <div>
      <%= form.label :name, "Enter your name to join the quiz:" %>
      <%= form.text_field :name %>
    </div>
    <div>
      <%= form.submit "Join Quiz" %>
    </div>
  <% end %>
<% else %>
  <h1>The quiz has already started. Please wait for the next one!</h1
<% end %>